@import 'main';


$color-txt	: #eee;

$color-bg		: blue;
$color-wide		: green;
$color-narrow	: red;


// define reusable heading styles
%heading {
	background	: var(--txt);
	color		: var(--bg);
	padding	: 0.125em 0.25em 0;
}

.colorwrapper {
	@extend %borderbox;
	
	--bg	: #{$color-bg};
	--txt	: #{$color-txt};
	
	background		: var(--bg); 
	color			: var(--txt);
	font-family	: monospace;
	min-height	: 100vh;
	
	&.wide {
		--bg	: #{$color-wide};
	}
	
	&.narrow {
		--bg	: #{$color-narrow};
	}
	
	&.toosmall::after {
		@extend %heading;
		content		: 'Please ensure viewport is at least 400px high!';
		position	: absolute;
		bottom		: 0;
		right		: 0;
	}
	
	article {
		max-width	: 40em;
		margin		: 0 auto;
		padding	: 1.5em;
		
		h1 {
			@extend %heading;
			font-size	: 1.5em;
		}
		h2 {
			@extend %heading;
			font-size	: 1em;
		}
	}
}
