body,
#root {
	box-sizing	: border-box;
	height		: 100vh;
}

article {
	background		: blue; 
	font-family	: monospace;
	height			: 100%;
	overflow		: hidden; /* prevent margins escaping */
}

article.wide {
	background	: green;
}

article.narrow {
	background	: red;
}
